:root {
    --min-column-width: 200px;
    /* Adjustable minimum column width */
}

body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin: 20px;
}

.logo img {
    max-width: 200px;
    height: auto;
}

.search-bar {
    margin: 20px;
    width: 70%;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-column-width), 1fr));
    gap: 20px;
    width: 90%;
    padding: 20px;
}

@media (max-width: 768px) {
    .gallery {
        margin: auto;
        place-items: center;
    }
}

.card {
    display: flex;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    max-height: 200px;
    object-fit: cover;
    aspect-ratio: 1;
    /* Ensures the div remains square */
    border-bottom: 1px solid #ddd;
}

.container {
    padding: 2px 16px;
}

.container p {
    white-space: pre-line;
}

.infos {
    font-size: x-large;
}
